@import "normalize.css";

* {
	box-sizing: border-box;
}

/* Layout */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	background: #efefef;
	margin: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	background: white;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding:  0 20px 15px;
	width: 100%;
	flex: 1 1 auto;
}

.list-wrapper {
	width: 	100%;
	max-width: 100%;
	min-height: 200px;
	max-height: 600px;
	flex: 1 0 auto;
	padding: 10px 15px;
	position: relative;
	
}

/* Text */

h2 {
	text-align: center;
	margin: 0 0 10px;
	color: #696969;
}

.heading--vertical {
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	position: absolute;
	top: 30%;
	left: 0;
}

.heading--grid-view {
	display: none;
}

/* Buttons and icons */

button {		
	width: 100px;
	height: 34px;
	background: white;
	box-shadow: none;
	border: none;
}

button:hover {
	background: #286F51;
	color: white;
}

i {
	color: #696969;
	width: 16px;
	height: 16px;
}

button.button--remove {
	background: transparent;
	width: 25px;
	height: 25px;
	margin-left: 5px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button--add {
	background: #57bc90;
	color: white;
}

button.button--remove:hover, button.button--remove:focus {
	outline: none;
}

button:hover i, button:focus i {
	color: #ff3b3f;
}

button.button--delete-all {
	position: fixed;
	bottom: 3px;
	right: 3px;
	max-width: 40px;
	height: 40px;
	border-radius: 50%;
	background: transparent;
	color: #696969;
	display: flex;
	width: 100px;
	align-items: center;
}

button.button--delete-all:hover {
	color: #ff3b3f;
}

.button--delete-all__icon {
	line-height: 0.5;
}

/* List */

ul {
	padding-left: 0;
	list-style: none;
	min-height: 200px;
	flex: 1 1 auto;
	padding-left: 0;
	background: #f7f7f7;
}

li {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	justify-content: space-between;
	background: white;
}

/* Form elements */

label {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	flex: 1 1 auto;
}

label > input {
	z-index: -1;
	opacity: 0;
	margin-right: 25px;
}

.custom-checkbox {
	width: 20px;
	height: 20px;
	background: #a9a9a9;
	position: absolute;
	top: 2px;
}

.custom-checkbox:after {
	content: '';
	display: none;
	position: absolute;
}

input:checked + .custom-checkbox {
	background: #57bc90;
}

input:checked + .custom-checkbox:after {
	display: block;
	top: 4px;
	left: 8px;
	width: 3px;
	height: 8px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

.new-task-input {
	height: 34px;
	padding: 0 5px;
	width: 300px;
	margin: 5px;
}

.new-task-input:focus {
	outline: none;
	border: 2px solid #57bc90;
}

.task-done {
	text-decoration: line-through;
	color: #a9a9a9;
}

.dragged-over {
	border: 2px dashed #a9a9a9;
	background: #F6FBFE;
}

@media screen and (min-width: 950px) {

	.list-wrapper {
		min-width: 	400px;
		max-width: 50%;
		padding: 20px 30px;
	}

		.list-wrapper:first-child, .list-wrapper:nth-child(3) {
		border-right: 2px solid #a9a9a9;
	}

		.list-wrapper:nth-child(3), .list-wrapper:last-child {
		border-top: 2px solid #a9a9a9;
	}

	.heading--list-view {
		display: none;
	}

	.heading--grid-view {
		display: block;
	}
}